body {
  background-color: #F35F55;
  font-family: Arial, sans-serif;
}
#slider-container {
  position: relative;
  background-color: #fff;
  height: 350px;
  width: 600px;
  margin: 300px auto;
  border-bottom: green solid 10px;
  overflow: hidden;
}
.slides {
  height: 100%;
  position: relative;
}
.slides li {
  background-color: #ecf0f1;
  display: table;
  float: left;
  height: 100%;
}
.slides li div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 3em;
}
.buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}
.buttons li {
  display: inline-block;
  margin: 10px;
  background-color: #e67e22;
  color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.buttons li:hover {
  background-color: #bf6516;
}
.slides li.solid-bg {
  background-color: #999999;
}
